.app {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  font-family: 'Quicksand', sans-serif;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  outline: none;
  box-shadow: 0 0 6px #ddd;
  padding: 10px;
  border-radius: .25em 0 0 .25em;
}

.search-bar:focus{
  box-shadow: 0 0 4px #ccc inset;
}

.search-button{
  background: white;
  border: none;
  padding: 10px 20px;
  color: grey;
  border-radius: 0 .25em .25em 0;
  margin-right: .5em;
}

.filter{
  padding: .5em;
  border-radius: .25em;
  border: none;
  outline: none;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header{
  margin-top: 0;
  text-align: center
}